/* Whole page color and style */
html{
   /* background-color: blueviolet;  */
    background-image: linear-gradient(to bottom right, #e133ea, #3361ea);
    height: 400%;
}

body{
    margin: 0;
    padding: 0;
   /* background-image: linear-gradient(to bottom right, red, blue); */

}

#PageAuthor{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 
        2px 2px 0 black, 
        -2px 2px 0 black, 
        2px -2px 0 black, 
        -2px -2px 0 black;
}

#AuthorContainer{
    background-color: rgba(127, 255, 212, 0.226);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#SocialButtons {
    /* background-color: rgba(150, 127, 52, 0.394); */
    display: flex;
    justify-content:space-around;
}

#imagebox{
    padding: 5px;
}




#SocialButtons > div{
    background-color: rgba(127, 255, 212, 0.137);
    border-radius: 20%;
    
}

#SocialButtons > div:hover{
    background-color: rgba(16, 31, 26, 0.404);
    
}
 
#Information
{
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 10%;
    margin-top: 100px;
}

#Document{
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

#resume{
    border: solid 9px rgb(150, 150, 150);
    border-radius: 5%;
    
}

#resume:hover{
    color:black;
    border: solid 9px rgb(94, 94, 94);

}